<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../static/img/location_ico.png" type="image/x-icon" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Localebnb - An Airbnb Contexual Recommender</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <script src="../static/js/ie-emulation-modes-warning.js"></script>
    <link href="../static/css/localebnb_main.css" rel="stylesheet">
    <link href="../static/css/bootstrap-slider.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    

    <style>
      /*body {font-weight:bold;}*/
      body {min-height: 600px; max-height: 1400px}
      .locale-background {background-image:url(../static/img/alamo_square.jpg); background-position: 0% 0%;opacity:.8;margin-top: -20px;}
      .theme-showcase {margin-bottom: -20px;}
      .locale-margin {}
      .navbar {margin-bottom: 0px;}
      .jumbotron {opacity: .95;margin-top: 20px; padding-top: 24px; padding-bottom: 24px;} 

      .header {font-size:90%; font-weight: bold;}
      
    </style>

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style={font-weight: "1000";font-size: "60px";}>Localebnb</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://www.github.com/gscottstukey/localebnb">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="locale-background"><div class="locale-margin">
    <div class="container theme-showcase" role="main">
      

        <div class="jumbotron jumbo1" align="center">
            <h1>Localebnb</h1>
            <h4>An Airbnb Contextual Recommender to help you find the best 'hood to stay</h4>
            <br>
            <form action="/search" method='POST' name="searchform1" id="searchform1">
        </div>
      
        <div class="jumbotron jumbo2" align="center">              
          <div class="form-group">
            <!-- <h2>Live or Cached Search:</h2>
            <div class="radio-inline">
              <label class="radio-inline">
                <input type="radio" name="livecacheRadio" id="livecachedRadiocached" value="cached" checked><p>Cached</p>
              </label>
              <label class="radio-inline">
                <input type="radio" name="livecacheRadio" id="livecachedRadiolive" value="live"><p>Live (Please limit searches as to not get banned)</p>
              </label>    
            </div> -->

            <p><span class="header">Where do you want to go?</span></p>
            <div class="radio-inline">
              <label class="radio-inline">
                <input type="radio" name="cityRadio" id="cityRadio0" value="live" checked>Live Search:
              </label>
            </div>
            <div class="radio-inline">
              <label class="radio-inline">
                <input type="text" name="cityWriteIn" class="form-control" size="50" name="city" placeholder="(ex: 'Portland, OR')"/>    <!-- disable if not live -->
              </label>
            </div><br>
            {% for city in cities%}
            <div class="radio-inline">
              <label class="radio-inline">
                <input type="radio" name="cityRadio" id="cityRadio{{city['id']}}" value={{city['city']}}>{{city['label']}} <i>(cached)</i>
              </label>
            </div>
            <br>
            {% endfor %}

          </div>
          <br>

          <div class="form-group">
            <p><span class="header" style="display: inline-block;width:200px;">Dates &amp; Guests:</span></p>
              <label class="radio-inline">
                <b>From:</b> &nbsp;&nbsp;&nbsp;<input type="date" name="checkinDate" id="checkinDate">
              </label>
              <label class="radio-inline">
                <b>To:</b> &nbsp;&nbsp;&nbsp;<input type="date" name="checkoutDate" id="checkoutDate">
              </label>
              <label class="radio-inline">
              <select class="form-control" name="numGuests" style="width:150px">
                <option value="1">1 guest</option>
                <option value="2">2 guests</option>
                <option value="3">3 guests</option>
                <option value="4">4 guests</option>
              </select>            
            </label>    
            
          </div>
          <br>
          

          <div class="form-group">
            <p><span class="header">Select Neighborhood Trait Weights:</span></p>
            <label class="radio-inline">
            {% for trait in traits%}
              <div class="controls-row">
                <b><span style="display: inline-block;width:100px;">{{trait}}</span></b>
                <div class="radio-inline">
                    
                    {% for weight in trait_weights%}
                    <label class="radio-inline">
                      <input type="radio" name="{{trait}}Radio" id="{{trait}}Radio{{weight['id']}}" value="{{weight['value']}}" {%if weight['id']=='3'%}checked{% endif %}>
                      {{weight['label']}}
                      </label>
                    {% endfor %}
                  
                </div>
              </div>
            <br>
            {% endfor %}
            </label>
          </div>


          <div class="form-group">
            <button type="submit" class="btn btn-primary">Search Airbnb</button>
          </div>
        </form>
        </div></div></div>
        
        <br>
        
        
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../static/js/bootstrap-slider.js"></script>
    <!-- Slider -->
    <!-- https://github.com/seiyria/bootstrap-slider -->
    <!-- http://seiyria.com/bootstrap-slider/ -->

</body>
</html>


